{% extends 'base.html.twig' %}

{% block title %}Activités TGO{% endblock %}
{% block body %}

<h1>Une rencontre de prévue ? choissez votre premiere activité</h1>
        <!--<div class="alert alert-primary" role="alert"></div>-->

    <ul>
        <div class="container"></div>
        {% for activity in activity %}

        <h4 class="card-title"><li>{{ activity.name }}</li> </h4>
            
            
             <li><img src="{{ asset('images/' ~ activity.image) }}"></li>
             
             <a href="#" class="btn btn-primary"><li>{{ activity.description }}</li></a>


<h1>Une rencontre de prévue ? choissez votre premiere activité</h1>
        <!--<div class="alert alert-primary" role="alert"></div>-->
    
        <div class="container">
             <img src="{{ absolute_url (asset('../images/asterixparc.jpg')) }}">
             <img src="{{ absolute_url (asset('../images/disneyparc.jpg')) }}">
             <img src="{{ absolute_url (asset('../images/spa.jpg')) }}">

           <link rel="stylesheet" href="{{  asset('../css/base.css') }}">
        </div>
        </ul>
         {% endfor %}

    {% block footer %}
        <div class="contact">
        <a href="{{ path('contact') }}"> <h2>CONTACTEZ L'EQUIPE</h2></a>
        </div>
    {% endblock %}
{% endblock %}    
    {% block javascripts %}
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        {% endblock %}

